$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #333;
$primary-margin: 10px;
$primary-padding: 10px;
$div-padding: 20px;
$footer-padding: 20px;

* {
    font-family: $font-stack;     
}

body {
    color: $primary-color;
}

.navbar-nav {
    .nav-item {
        .nav-link:hover{
            color: rgb(255, 255, 255);      
        }
    }
}

.jumbotron {
    margin-bottom: 0px;
}

footer {
    padding: $footer-padding;
    .footer-text {
        padding-top: $footer-padding;
    }
}





