$font-stack: Arial, Helvetica, sans-serif;
$primary-font-color: #333;
$primary-margin: 10px;
$primary-padding: 10px;
$div-padding: 20px;

* {
    font-family: $font-stack;     
}

body {
    color: $primary-font-color;
    margin: $primary-margin; 
    padding: $primary-padding;
}

.row {    
    div {
        background-color: lightblue ;
        padding: $div-padding;
        border: 1px solid black;
        border-collapse: collapse;
    }
}

nav {
    div {
        padding: $div-padding;
    }
    a, a:hover{
        color: inherit; 
        text-decoration: inherit; 
    }
    a:hover{
        color: cadetblue; 
        font-size: 1.1em;      
    }
}



